<p>This is a website that allows neighbors to post which books they have with the intention of sharing their books with others.</p>
<p>The goal of the website creator is to foster community and to read good books.</p>
<p>If you would like to share feedback on this site, please contact hannahcharlottebrady@gmail.com</p>